@dark: #222323;
@light: #f0f6f0;
@barWidth: 48px;
@collapse: 8px;
@itemWidth: @barWidth - 2 * @collapse;

@import "loading";
@import "scroll-bar";

// func

.wh (@width, @height) {
  width: @width;
  height: @height;
}

.childCenter () {
  display: flex;
  justify-content: center;
  align-items: center;
}

.colorReverse () {
  background-color: @dark;
  color: @light;
}
// discarded
.groupStyle (@back, @front) {
  background-color: @back;
  color: @front;
  .wh(calc(100% - 2 * @collapse), @itemWidth);
  .childCenter();
  margin: calc(@collapse / 2) @collapse;
  padding: calc(@collapse / 2) @collapse;
  cursor: pointer;
  border-bottom: 2px solid @dark;
  transition: .1s all linear;
  p {
    margin-left: @collapse;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}

// end

* {
  user-select: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar { width: 0 !important }

body, html {
  background-color: @light;
}

.bar {
  z-index: 4;
  position: fixed;
  .wh(100%, @barWidth);
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
  box-shadow: 0 5px 10px lighten(@dark, 50%);
  color: @dark;
  font-weight: bold;
  -webkit-app-region: drag;
  .brand {
    position: absolute;
    left: @collapse;
    top: @collapse;
    height: @itemWidth;
    .childCenter();
  }
  #close {
    margin-right: @collapse;
  }
}

.bar-btn {
  .wh(@itemWidth, @itemWidth);
  .childCenter();
  margin: @collapse calc(@collapse / 2);
  transition: .2s all linear;
  cursor: pointer;
  -webkit-app-region: no-drag;
  &:hover {
    .colorReverse();
  }
}

.infoBox {
  z-index: 2;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  .wh(50%, calc(50% - @barWidth));
  padding: calc(2 * @collapse) calc(4 * @collapse);
  font-weight: bold;
  background-color: @light;
  box-shadow: 0 5px 10px lighten(@dark, 50%);
  .childCenter();
  .box {
    position: absolute;
    bottom: @collapse;
    right: calc(@collapse / 2);
    .childCenter();
  }
  display: none;
}

.loading {
  z-index: 3;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  font-weight: bold;
  .loading(@dark)
}

.chart {
  position: absolute;
  top: @barWidth;
  padding: calc(2 * @collapse) calc(4 * @collapse);
  .wh(100%, calc(100% - @barWidth));
}

.chart-line {
  left: 100%;
}
